<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link 
        rel="stylesheet" 
        href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
        id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<title>TryDjango</title>
</head>
<body>
	{% include 'navbar.html' %}
	{% block content %}
	replace me
	{% endblock %}
</body>
</html>